{% extends "layout.html" %}
{% load static %} 
{% block body %}
<body id='fond2'>
    <h1> Passer une commande </h1>
    <table>
        <thead>
            <h3>Nos crepes salées</h3>
        </thead>
        <tbody>
            {% for c in salee %}
                <tr> 
                    <td id="name">
                        <p>{{c.name}}</p>
                        <img src="{{c.img}}"  width="20" height="20">
                    </td>
                    <td id='ingredients'>{{c.ingredients}}</td>
                    <td id='commander'>ajouter au panier</td>
                </tr>
            {% endfor %}
        </tbody>
    <table>
        <thead>
            <h3>Nos crepes sucrées</h3>
        </thead>
        <tbody>
            {% for c in sucree %}
                <tr> 
                    <td id="name">
                        <p>{{c.name}}</p>
                        <img src="{{c.img}}"  width="20" height="20">
                    </td>

                    <td id="ingredients">{{c.ingredients}}</td>
                    <td id='commander'>ajouter au panier</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table>
        <thead>
            <h3>Nos cheescake</h3>
        </thead>
        <tbody>
            {% for c in cheese %}
                <tr> 
                    <td id="name">
                        <p>{{c.name}}</p>
                        <img src="{{c.img}}"  width="20" height="20">
                    </td>
                    <td id='ingredients'>{{c.ingredients}}</td>
                    <td id="commander">ajouter au panier</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
{% endblock %}
