{% extends "layout.html" %}
<!--{% load static %} 
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            movies land
        </title>
        <link href ="{% static 'style.css' %}" rel ="stylesheet" type="text/css">
    </head>-->
{% block body %}
<body id="fond1">

    <img src="{% static 'images/logo.jpg' %}" alt="logo" width =1330px height=600px center>
    <h1> crepe factory </h1>
    <div id="description" >
         Crêpes Factory est simplement une crêpe d'exception. Une pâte faite a bases de différentes farines de trés hautes qualitées, des produits frais directement séléctionnés chez les meilleur fournisseurs et enfin des sauces faites maison, tout ceci lui confére un gout unique! Soyez nombreux à venir partager avec nous l’unique expérience Crêpes Factory.
    </div>
    <div id ="menu">  
        <ul id="list1">
            <p id ="menu1"> menu </p>
            <li>
                <a href="{% url 'crepes sucrées' %}">crepes sucrées</a>
            </li>
            <li>
                <a href="{% url 'crepes salées' %}" title="crepes salées">crepes salées</a>
            </li>
            <li>
                <a href="{% url 'cheescake' %}">cheescake</a>
            </li>
        </ul>
    </div>
    <div id= "contact">
        
        <ul id="list2">
            <p id="contact1">contacts</p>
            <li>
                <img src="{% static 'images/phone.png' %}" alt="icon1" height="30px" width="30px">
                tel:99 960 994  </li>
            <li>
                <img src="{% static 'images/mail.png' %}" alt="icon2" height="30" width="30">
                mail:crepesfactorytunis@gmail.com</li>
            <li>
                <img src="{% static 'images/fb.png' %}" alt="icon3" height="30 " width="30">
                page facebook: Crêpes Factory</li>
        </ul>
    </div>
    <div id="adresses">
        <ul id ="list3">
            <p id="adresses1">Adresses</p>
            <!--{% for a in adresses %}
                <li>{{a}}</li>
            {% endfor %}-->
            <li>
                <a href="https://www.google.com/maps/place/crepes+Factory+%22L'Aouina%22/@36.8562429,10.1795893,13z/data=!4m8!1m2!2m1!1screpe+factory+aouina!3m4!1s0x12e2cb2664e1688d:0xb0b22dc2ce9277b1!8m2!3d36.8578131!4d10.2541786?hl=fr">Aouina</a>
            </li>
            <li>
                <a href="https://www.google.com/maps/place/Crepes+Factory+%22+Menzeh+5+%22/@36.854683,10.1728503,17z/data=!3m1!4b1!4m5!3m4!1s0x12fd34a95973b33d:0x319e56a1b04f048e!8m2!3d36.854683!4d10.175039?hl=fr">Menzah 5</a>
            </li>
        </ul>
    </div>
    <div id="commande">
        <img src="{% static 'images/panier.jpg' %}" alt="icon4" height="50" width="50">
        <a href="{% url 'cmd' %}">passer une commande en ligne</a>
        <img src="{% static 'images/panier.jpg' %}" alt="icon4" height="50" width="50">
    </div>
</body>
{% endblock %}  

   
